// Colors
$pampas: #f9f8f7;
$ebb: #e9e6e4;
$orange: #ff6d23;
$masala: #3e3535;
$cod-gray: #1d1d1d;
$danger: red;

// Palette
$light-shades: $pampas;
$light-accent: $ebb;
$brand-color: $orange;
$dark-accent: $masala;
$dark-shades: $cod-gray;
